<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			SymBlog - Erreur {{ exception.statusCode }}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
			{{ encore_entry_link_tags('app') }}

			{{ encore_entry_script_tags('app') }}
	</head>
	<body>
		<div
  class="
    flex
    items-center
    justify-center
    w-screena
    h-screen
    bg-gradient-to-r
    from-white-600
    to-blue-400
  "
>
  <div>
    <div class="flex flex-col items-center">
      <h1 class="font-bold text-blue-600 text-9xl">HTTP Error {{ exception.statusCode }}</h1>

      <p class="my-2 text-2xl font-bold text-center text-gray-800 md:text-3xl">
        {{ exception.statusText }}
      </p>

      <a
        href="{{ path('app_post')}}"
        class="px-6 py-2 mt-6 text-sm font-semibold text-blue-800 bg-blue-100"
        >Retourner à l'accueil</a
      >
    </div>
  </div>
</div>
	</body>
</html>
